*.pyc
*.aux
*.log
*.out
*.pdf
*.toc
*.orig
*.o
*.dia~
*.dia.autosave
*.egg-info
.vscode
.DS_Store

lib/
bin/
swig/
build/
Build/
build_*/
dist/
python/pymesh/lib
python/pymesh/swig
python/pymesh/third_party/
python/pymesh.egg-info/
docs/_build/
third_party/build/
third_party/local/
cmake/SetInstallRpath.cmake
cmake/PythonPrefix.cmake
