language: cpp
sudo: true
before_install:
    - sudo apt-get -qq update
virtualenv:
  system_site_packages: true
branches:
    only:
        - packaging
addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
            - boost-latest
        packages:
            - g++-4.9
            - cmake
            - cmake-data
            #- libcgal-dev
            - libgmp-dev
            #- libumfpack5.6.2
            - libboost1.55-all-dev
            - libmpfr-dev
            - libsuitesparse-dev
            - python-numpy
            - python-scipy
            - python-setuptools
            - swig
script:
    - apt-cache search boost
    - wget http://repo.continuum.io/miniconda/Miniconda-3.8.3-Linux-x86_64.sh -O miniconda.sh
    - chmod +x miniconda.sh
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - conda info -a
    - conda install --yes numpy
    - conda install --yes setuptools
    - python --version
    - python -c "import numpy as n; print(n.__version__); print(n.get_include());"
    - git submodule update --init --recursive
    - mkdir third_party/build
    - cd third_party/build
    - cmake -DCMAKE_C_COMPILER=gcc-4.9 -DCMAKE_CXX_COMPILER=g++-4.9 ..
    - make
    - make install
    - cd ..
    - git clone https://github.com/qnzhou/cgal.git
    - mkdir -p cgal/build
    - cd cgal/build
    - cmake -DCMAKE_INSTALL_PREFIX:PATH=$PYMESH_PATH/third_party/local ..
    - make
    - make install
    - cd ../../..
    - mkdir -p build
    - cd build
    - cmake -DCGAL_DIR=$PYMESH_PATH/third_party/local/lib/CGAL -DPYTHON_LIBRARY=$(python-config --prefix)/lib/libpython2.7.so -DPYTHON_INCLUDE_DIR=$(python-config --prefix)/include/python2.7 -DCMAKE_C_COMPILER=gcc-4.9 -DCMAKE_CXX_COMPILER=g++-4.9 ..
    - make
    - make tools
    - ./setup.py build
    - ./setup.py install --user
env:
    - PYMESH_PATH=$TRAVIS_BUILD_DIR
after_success:
    - cd build
    - make all_tests
    - python -c "import pymesh; pymesh.test()"
