include README* CMakeLists.txt Settings.cmake
recursive-include src *
recursive-include tools *
recursive-include tests *
recursive-include examples *
recursive-include cmake *.cmake
recursive-include eigen_wrapper *.i
recursive-include scripts *.py
